/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Header */

header {
    z-index: 99999;
    position: sticky;
    width: 100%;
    font-family: IM Fell English;
    color: #fbefef;
    background: linear-gradient(90deg, #0e191d 45%, #3f7183);
}

nav{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    font-size: 20px;
}

.title {
    font-size: 26px;
    display: flex;
    align-items: center;
    font-family:IM Fell English;
}

.title img {
    height: 30px;
    width: 30px;
}

.title p {
    padding: 10px;
}
nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
    text-transform: uppercase;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    transition: all 0.5s ease-out;
}

nav ul li a:hover {
    color: gray;
}
.menu-icon{
    display: none;
}

.menu-icon i{
    color: #fff;
    font-size: 30px;
}

@media (max-width: 1024px) {
    nav {
        padding: 5px 44px;
        justify-content: space-between;
    }
    
    .title {
        font-size: 20px;
    }

    nav ul{
        position: absolute;
        top: 75px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: linear-gradient(90deg, #0e191d 45%, #3f7183);
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 15px;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
}

footer {
    background-color: #0e191d;
    color: #fbefef;
    font-size: 16px;
    font-family: Inter;
    padding: 43px;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (max-width: 1024px) {
    footer {
        font-size: 12px;
    }
}

/* Home */
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.banner video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -2;
}

.overlay {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: #fbefef;
    font-family: 'IM Fell English', serif;
}

.overlay h1 {
    font-size: 64px;
    animation: fadeInText 10s ease backwards;
}

@keyframes fadeInText {
    from {
      opacity: 0;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
}

.overlay p {
    font-size: 64px;
    animation: fadeInText 15s ease forwards;
}

.overlay a {
    font-size: 32px;
    color: #060201;
    text-decoration: none;
    padding: 21px 81px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 37px;
    background-color: #fbefef;
    animation: fadeInText 15s ease backwards;
}

.overlay a:hover {
    background-color: grey;
    transition: all 0.5s ease-out;
}

.scroll-down {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 95%;
    left: 50%;
    opacity: 60%;
}
.scroll {
	width: 60px;
	height: 60px;
	border: 1px solid #fbefef;
	border-radius: 50%;
	position: relative;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
	&::before {
		content: '';
		position: absolute;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 5px solid #fbefef;
  	    border-bottom: 5px solid #fbefef;
		transform: rotate(-45deg);
	}
}

@keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

@-webkit-keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@media (max-width: 1024px) {
    .overlay {
        position: absolute;
        top: 40%;
        left: 40%;
    }
}

@media (max-width: 480px) {
    .overlay h1 {
        font-size: 45px;
    }

    .overlay p {
        font-size: 45px;
    }

    .overlay a {
        font-size: 28px;
        padding: 15px 57px;
    }

    .overlay a svg {
        height: 22px;
        
    }
}


/* About */

.about-section {
    background-color: #000002;
    color: #fbefef;
    font-family: Inter;
    font-size: 24px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-header {
    font-family: IM Fell English;
    font-size: 96px;
    color: #fbefef;
    max-width: 479px;
    margin: 10px;
    animation: fadeInText 5s ease backwards;
}

.about-container {
    display: flex;
    justify-content: center;
    animation: fadeInText 5s ease backwards;
    margin: 0 10px;
}
    

.about-column {
    display: flex;
    animation: fadeInText 5s ease backwards;
}


.about-column-right {
    display: flex;
    flex-direction: row-reverse;
    animation: fadeInText 5s ease backwards;

}

.about-paragraph {
    max-width: 479px;
    margin: 10px;
    animation: fadeInText 10s ease backwards;
}

.about-image-1{
    background-image: url( assets/Picture_1.jpg);
    background-size: cover; /* Ensure the image covers the entire element */
    background-position: center; /* Center the image */
    height: 300px;
    width: 485px;
    animation: fadeInText 5s ease backwards;
    border-radius: 10px;
}
.about-image-2{
    background-image: url( assets/Picture_2.jpg);
    background-size: cover; /* Ensure the image covers the entire element */
    background-position: center; /* Center the image */
    height: 300px;
    width: 485px;
    animation: fadeInText 5s ease backwards;
    border-radius: 10px;
}

.about-image-3{
    background-image: url( assets/Picture_3.jpg);
    background-size: cover; /* Ensure the image covers the entire element */
    background-position: center; /* Center the image */
    height: 300px;
    width: 485px;
    animation: fadeInText 5s ease backwards;
    border-radius: 10px;
}
.about-image-4{
    background-image: url( assets/Picture_4.jpg);
    background-size: cover; /* Ensure the image covers the entire element */
    background-position: center; /* Center the image */
    height: 300px;
    width: 485px;
    animation: fadeInText 5s ease backwards;
    border-radius: 10px;
}

@media (max-width: 1000px){
    .about-header {
        font-size: 58px;
        max-width: 315px;
    }

    .about-image-1, .about-image-2, .about-image-3, .about-image-4 {
        height: 186px;
        max-width: 315px;
    }

    .about-paragraph {
        font-size: 16px;
        max-width: 315px;
        line-height: 16px;
        font-size: 15px;
        margin: 5px;
    }

    .header {
        position: fixed;
    }
}

@media (max-width: 660px){
    .about-header {
        font-size: 36px;
        margin: 10px 0;
    }

    .about-container {
        display: grid;
    }

    .about-column {
        display: grid;
    }

    .about-column-right {
        display: grid;
    }

    .about-paragraph {
        margin: 10px 0;
    }
    
}

/* Media */
.media-body {
    background-color: #060201;
}
.media-section {
    margin: 0 10px;
}
.media-h1 {
    font-family: IM Fell English;
    font-size: 40px;
    color: #fbefef;
    display: flex;
    justify-content: center;
    padding: 55px;
    animation: fadeInText 1s ease-out backwards;
	background-color: #060201;
}


/* Cast & Crew */

.cast-crew-body {
    background-color: #060201;
}

.cast-crew-section {
    padding-top: 80px;
    padding-bottom: 80px
}

.cast-crew-container {
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.cast-crew-h1 {
    font-family: IM Fell English;
    font-size: 40px;
    color: #fbefef;
    font-size: 96px;
    max-width: 360px;
    animation: fadeInText 5s ease backwards;
}

.cast-crew-paragraph {
    font-size: 24px;
    color: #fbefef;
    font-family: Inter;
    text-align: right;
    max-width: 683px;
    padding: 10px;
    animation: fadeInText 10s ease backwards;
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
  animation: fadeInText 5s ease backwards;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;
  font-family: Inter;
  display: block;
  padding: 30px 20px;
  background-color: #0e191d;

  overflow: hidden;
  height: 190px;
  position: relative;
}

.ag-courses-item_title {
  min-height: 87px;

  overflow: hidden;

  font-weight: bold;
  font-size: 48px;
  color: #fbefef;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 24px;
  font-weight: 100;
  color: #fbefef;

  z-index: 2;
  position: relative;
}


@media only screen and (max-width: 1100px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 35px;
  }
}

@media only screen and (max-width: 1024px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 20px;
  }
}

.ag-courses_item:hover {
    transform: translateY(-10px);
}

@media screen and (max-width: 1024px) {

    .cast-crew-section {
        padding-top: 0;
    }
    .cast-crew-container {
        display: grid;
    }

    .cast-crew-h1 {
        max-width: none;
        font-size: 36px;
        text-align: center;
        padding: 55px;
    }

    .cast-crew-paragraph {
        text-align: left;
        font-size: 15px;
    } 

    
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
}

.media-main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.w3-content {
    animation: fadeInText 3s ease backwards;

}

@media (max-width: 1024px) {
    .media-footer {
        font-size: 12px;
    }
}
